/* Alert Flash */
.zwavejs-controller-button-blink {
	animation: blinker 1s linear infinite;
}
@keyframes blinker {
	0% {
		color: gray;
	}
	49% {
		color: gray;
	}
	50% {
		color: red;
	}
	100% {
		color: red;
	}
}

/* Controller Info Header */
.zwavejs-info-header {
	height: 40px;
	padding: 10px;
	text-align: left;
}

/* Info icon */
.zwavejs-info-header > i {
	position: absolute;
	font-size: 30px;
	margin-top: 5px;
	color: gray;
}

/* Info Container */
.zwavejs-info-container {
	margin-left: 50px;
}

/* Controller Info Lables */
.zwavejs-info-container span:first-of-type {
	font-size: 18px;
	font-weight: bold;
	color: gray;
}
.zwavejs-info-container span {
	font-size: 14px;
	color: gray;
}

/* Controller Menu header */
.zwavejs-controller-menu-header {
	height: 20px;
	text-align: center;
}

/* Controller Menu buttons */
.zwavejs-controller-menu-header a {
	position: relative;
	margin-right: 15px;
}
.zwavejs-controller-menu-header a i {
	font-size: 18px;
	color: gray;
}

/* Options Panel */
.zwavejs-options-panel {
	background: #f3f3f3;
	width: 100%;
	height: 100%;
	text-align: center;
	padding-top: 20px;
}

.zwavejs-options-panel > span:first-of-type {
	font-weight: bold;
	font-size: 18px;
	color: gray;
	margin-bottom: 20px;
	display: block;
}

.zwavejs-options-panel button.zwavejs-full-width-button {
	width: 70%;
	display: block;
	margin: auto;
	margin-bottom: 5px;
	color: gray;
}

.zwavejs-options-panel button.zwavejs-cancel{
	color: red;
	margin-top: 10px;
}
