/* Alert Flash */
.zwavejs-controller-button-blink {
	animation: blinker 1s linear infinite;
}
@keyframes blinker {
	0% {
		color: gray;
	}
	49% {
		color: gray;
	}
	50% {
		color: red;
	}
	100% {
		color: red;
	}
}

/* Controller Info Header */
.zwavejs-info-header {
	height: 40px;
	padding: 10px;
	text-align: left;
}

/* Info icon */
.zwavejs-info-header > i {
	position: absolute;
	font-size: 30px;
	margin-top: 5px;
	color: gray;
}

/* Info Container */
.zwavejs-info-container {
	margin-left: 50px;
}

/* Controller Info Lables */
.zwavejs-info-container span:first-of-type {
	font-size: 18px;
	font-weight: bold;
	color: gray;
}
.zwavejs-info-container span {
	font-size: 14px;
	color: gray;
}

/* Controller Menu header */
.zwavejs-controller-menu-header {
	height: 20px;
	text-align: center;
}

/* Controller Menu buttons */
.zwavejs-controller-menu-header a {
	position: relative;
	margin-right: 15px;
}
.zwavejs-controller-menu-header a i {
	font-size: 18px;
	color: gray;
}

button.zwavejs-full-width-button {
	width: 70%;
	display: block;
	margin: auto;
	margin-bottom: 5px;
	color: var(--red-ui-primary-text-color);
	height: 30px;
	background-color: var(--red-ui-form-button-background);
	border-style: solid;
	border-width: 1px;
	border-radius: 4px;
	border-color: var(--red-ui-node-border);
	cursor: pointer;
}

button.zwavejs-full-width-button:hover {
	background-color: rgb(46, 145, 205);
	color: white;
}

.zwave-js-vertical-tabs {
	width: 100%;
}
.zwave-js-vertical-tabs .ui-tabs-nav {
	padding-right: 3px;
	width: 200px;
	height: 500px;
	display: inline-block;
}
.zwave-js-vertical-tabs .ui-tabs-nav li {
	clear: left;
	margin: 1px;
	width: 98%;
	border-style: solid;
	border-width: 1px;
	border-color: var(--red-ui-node-border);
	border-radius: 4px;
}

.zwave-js-vertical-tabs .ui-tabs-nav li a {
	display: block;
}
.zwave-js-vertical-tabs .ui-tabs-nav li.ui-tabs-active {
	background-color: rgb(46, 145, 205);
}
.zwave-js-vertical-tabs .ui-tabs-nav li.ui-tabs-active a {
	color: white;
}
.zwave-js-vertical-tabs .ui-tabs-panel {
	padding: 1em;
	width: calc(100% - 250px);
	vertical-align: top;
	display: inline-block;
}

.zwave-js-info-table tr td:first-of-type {
	width: 150px;
	color: rgb(46, 145, 205);
}

.zwave-js-save {
	position: absolute;
	right: 30px;
	bottom: 30px;
	width: 120px;
	height: 30px;
	background-color: rgb(46, 145, 205);
	color: white;
	border-style: solid;
	border-width: 1px;
	border-color: var(--red-ui-node-border);
	border-radius: 4px;
	cursor: pointer;
}

.zwave-js-ie-state-icon {
	font-size: 85px;
	display: block;
	text-align: center;
	color: rgb(46, 145, 205);
	margin-top: 150px;
}
.zwave-js-ie-state-text {
	text-align: center;
	display: block;
	font-size: 18px;
	margin-top: 10px;
}

.zwave-js-dsk {
	width: 40px;
}
