.zwave-js-info-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: normal;
  padding: 3px;
}
.zwave-js-node-row {
  border-bottom: dotted 1px gray;
  display: flex;
}
.zwave-js-node-row-id {
  width: 10%;
  padding-left: 10px;
}
.zwave-js-node-row-name {
  width: 50%;
}
.zwave-js-node-row-status {
  width: 20%;
  font-size: x-small;
  text-align: center;
}
.zwave-js-node-row-ready {
  width: 20%;
  text-align: center;
}

.zwave-js-status-box {
  margin-left: 5px;
  font-size: smaller;
}

.zwave-js-node-fetch-status {
  font-style: italic;
}
.zwave-js-node-fetch-status:hover {
  background-color: inherit !important;
}

#zwave-js-node-properties .red-ui-treeList-label {
  cursor: default;
}
.zwave-js-node-property-endpoint {
  margin-left: 5px;
  padding: 2px;
  border-width: 1px;
  border-style: solid;
  border-radius: 8px;
}
.zwave-js-node-property {
  display: inline-flex;
  justify-content: space-between;
  gap: 10px;
  word-break: keep-all;
}
.zwave-js-node-property-edit-button {
  cursor: pointer;
}
.zwave-js-node-property-value {
  text-align: right;
  margin-right: 10px;
}
.zwave-js-property-value-type-boolean {
  text-transform: uppercase;
  font-size: smaller;
}

.zwave-js-selected-node-map-info{
  width: 300px;
  font-size: 12px;
  height: 260px;
  background-color: whitesmoke;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  padding: 5px;
  overflow: hidden;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 10px 10px 24px -15px rgba(0,0,0,0.9);
  -moz-box-shadow: 10px 10px 24px -15px rgba(0,0,0,0.9);
  box-shadow: 10px 10px 24px -15px rgba(0,0,0,0.9);   
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 200;
  opacity: 0.7;
  transition-duration: 0.5s;
}
.zwave-js-selected-node-map-info:hover{
  opacity: 1.0;
}

#progressbar {
  background-color: #bbb;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
padding: 3px;
margin-top: 20px;
}


#progressbar>div {
  background-color: gray;
  width: 0%;
  height: 20px;
  -webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
  }

